extends layout
block content
    h1= title
    - let dessertid = toShow._id
    - let dessertname = toShow.name
    - let dessertrating = toShow.rating
    - let dessertcolor = toShow.color
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{dessertid}
    - let actionid = "/resource/desserts/" + dessertid
    form(id='DessertForm', action= actionid, method="PUT")
        div.form-group
            label.dessertAttr(for='dessertname') Dessert name
            input#dessertname(type='text', name='dessertname', value= dessertname )
        div.form-group
            label.dessertAttr(for='dessertrating') Dessert rating
            input#dessertrating(type='number', name='dessertrating', value= dessertrating )
        div.form-group
            label.dessertAttr(for='dessertcolor') Dessert color
            input#dessertcolor(type='text', name='dessertcolo', value= dessertcolor )
            input(type="submit")
    script.
        document.forms['DessertForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
            });
        });