extends layout
block content
    h1= title
    form(id='DessertForm', action="/resource/desserts", method="POST")
        div.form-group
            label.dessertAttr(for='dessertname') Dessert name
            input#dessertname(type='text', name='dessertname')
        div.form-group
            label.dessertAttr(for='dessertrating') Dessert rating
            input#dessertrating(type='number', name='dessertrating')
        div.form-group
            label.dessertAttr(for='dessertcolor') Dessert color
            input#dessertcolor(type='text', name='dessertcolor')
        input(type="submit")
    script.
        document.forms['DessertForm'].addEventListener('submit', (event) => {
            event.preventDefault();
             // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
            // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });